name: DEPLOY-PROD
on:
  push:
    branches:
    - main
jobs:
  build_and_deploy_prod:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: |
          yarn
          yarn run build:prod 
    - name: rsync deployments
      uses: burnett01/rsync-deployments@5.2
      with:
        switches: -avzhe ssh --progress --delete
        path: dist/
        remote_path: /home/didelofr/public_html/lilian-project-prod
        remote_host: didelo.fr
        remote_user: didelofr
        remote_key: ${{ secrets.SSH_KEY }}